:root {
    --main-backround-clr: #0f1225;
    --main-accent-clr: #322356;
}

* {
    background-color: var(--main-backround-clr);
    color: #FFFFFF;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0rem;
}

header {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Container settings for box quiz will take place in*/
.quiz-container {
    width: 600px;
    min-height: 400px;
    align-self: center;
    padding: 20px;
    border: 10px outset var(--main-accent-clr);
    box-shadow: 10px var(--main-accent-clr);
}

/* Landing page settings */
#start-quiz-screen button {
    font-size: 24px;
    align-self: center;
    border-radius: 6%;
    width: 15%;
}

#start-quiz-screen button:hover {
    background-color: var(--main-accent-clr);
    box-shadow: 0 12px 16px 0 rgba(116, 115, 115, 0.24), 0 17px 50px 0 rgba(100, 100, 100, 0.19);
}

#start-quiz-screen {
    visibility: visible;
}

#quiz-questions-screen {
    visibility: hidden;
}

#quiz-questions-screen button{
background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


#end-quiz-screen {
    visibility: hidden;
}